button{
    width: 114px;
    border: solid 1px black;
    border-radius: 500px;
    background-color: white;
    color: rgb(85, 126, 238);
}

button:hover{
    cursor: pointer;
    background-color:  rgb(85, 126, 238);
    color: white;
    transition: 0.5s;
}

#corpo{
    background-color:rgb(85, 126, 238);
}